<%- include ('header.ejs'); -%>
          <div id="page-wrapper">
		    <div id="page-inner">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
    					<div class="board">
                            <div class="panel panel-primary">
        						<div class="number">
        							<h3>
        								<h3>44,023</h3>
        								<small>Daily Visits</small>
        							</h3> 
        						</div>
        						<div class="icon">
        						   <i class="fa fa-eye fa-5x red"></i>
        						</div>
    		                </div>
						</div>
                    </div>
					
					<div class="col-md-3 col-sm-12 col-xs-12">
    					<div class="board">
                            <div class="panel panel-primary">
        						<div class="number">
        							<h3>
        								<h3>32,850</h3>
        								<small>Sales</small>
        							</h3> 
        						</div>
        						<div class="icon">
        						   <i class="fa fa-shopping-cart fa-5x blue"></i>
        						</div>
                            </div>
						</div>
                    </div>
					
					<div class="col-md-3 col-sm-12 col-xs-12">
    					<div class="board">
                            <div class="panel panel-primary">
        						<div class="number">
        							<h3>
        								<h3>56,150</h3>
        								<small>Comments</small>
        							</h3> 
        						</div>
        						<div class="icon">
        						   <i class="fa fa-comments fa-5x green"></i>
        						</div>
    		                </div>
						</div>
                    </div>
					
					<div class="col-md-3 col-sm-12 col-xs-12">
    					<div class="board">
                            <div class="panel panel-primary">
        						<div class="number">
        							<h3>
        								<h3>89,645</h3>
        								<small>Daily Profits</small>
        							</h3> 
        						</div>
        						<div class="icon">
        						   <i class="fa fa-user fa-5x yellow"></i>
        						</div>
                            </div>
						</div>
                    </div>  
                </div>
				<div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tasks Panel
                            </div>
                            <div class="panel-body">
                                <div class="list-group">

                                    <a href="#" class="list-group-item">
                                        <span class="badge">7 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">16 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">36 minutes ago</span>
                                        <i class="fa fa-fw fa-globe"></i> Invoice 653 has paid
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1.23 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">More Tasks <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Responsive Table    
                            </div> 
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>User Name</th>
                                                <th>Email ID.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>John</td>
                                                <td>Doe</td>
                                                <td>John15482</td>
                                                <td>name@site.com</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Kimsila</td>
                                                <td>Marriye</td>
                                                <td>Kim1425</td>
                                                <td>name@site.com</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Rossye</td>
                                                <td>Nermal</td>
                                                <td>Rossy1245</td>
                                                <td>name@site.com</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Richard</td>
                                                <td>Orieal</td>
                                                <td>Rich5685</td>
                                                <td>name@site.com</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Richard</td>
                                                <td>Orieal</td>
                                                <td>Rich5685</td>
                                                <td>name@site.com</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Richard</td>
                                                <td>Orieal</td>
                                                <td>Rich5685</td>
                                                <td>name@site.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        		<footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez.com</a></p>
				</footer>
            </div>
            <!-- /. PAGE INNER  -->
          </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="http://localhost/myapp/admin/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="http://localhost/myapp/admin/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="http://localhost/myapp/admin/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="http://localhost/myapp/admin/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="http://localhost/myapp/admin/assets/js/morris/morris.js"></script>
<script src="http://localhost/myapp/admin/assets/js/easypiechart.js"></script>
<script src="http://localhost/myapp/admin/assets/js/easypiechart-data.js"></script>
<script src="http://localhost/myapp/admin/assets/js/Lightweight-Chart/jquery.chart.js"></script>
<!-- Custom Js -->
<script src="http://localhost/myapp/admin/assets/js/custom-scripts.js"></script>
<!-- Chart Js -->
<!-- <script type="text/javascript" src="http://localhost/myapp/admin/assets/js/Chart.min.js"></script>   -->
<!-- <script type="text/javascript" src="http://localhost/myapp/admin/assets/js/chartjs.js"></script>  -->
</body>
</html>